header {
    border-bottom: 3px solid black;
}

.header-container {
    display: flex;
    justify-content:space-between;

    align-items: center;
    height: fit-content;
    /* background-color: rgb(255, 105, 255); */
    /* padding: 15px; */
    margin: 0 15vw;
    padding: 1em 15px;
}

.header-title-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-link-container {
    display: flex;
    justify-content: flex-end;

    flex: 1;
    /* background-color: beige; */
}

.header-title-container-links {
    font-weight: bolder;
    font-size: 2.5em;
}

.header-title-container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* background-color: brown; */
}

#header-logo {
    height: 6em;
    /* background-color: black; */
}