.main-intro-container {
    position: relative;
    /* Set to relative */
    overflow: hidden;
    /* Add overflow: hidden */
    height: 90vh;
    /* margin: 0 15vw; */
    padding: 15px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* background-color: black; */
}


.main-intro-container-content {
    height: 100%;
    margin: 0 15vw;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: blue; */

}

.main-intro-content {
    /* background-color: pink; */
    width: 100%;
    /* flex: 1; */
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    line-height: 10vh;
    color: var(--primary-color);
}

.main-intro-img {
    flex: 1;
    height: 60%;
    width: auto;
    background-image: url("../resources/images/no-back-ilstrn.png");
    background-size: cover;
    background-position: center;
}




.bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left top;
}

.bouncing-blob--blue {
    background: #1900ff;
}

.bouncing-blob--white {
    background: #6f00ff;
    z-index: 2;
    width: 15vw;
}

.bouncing-blob--purple {
    background: #00e1ff;
}

.bouncing-blob--pink {
    background: #ff00aa;
}

.bouncing-blobs-container {
    position: absolute;
    /* Set to absolute */
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bouncing-blobs-glass {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
    pointer-events: none;
}

.bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero h2 {
    font-size: 70px;
    max-width: 800px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #021123;
}

.hero p {
    font-size: 24px;
    max-width: 500px;
    text-align: center;
    color: #021123;
}

@media (max-width: 1200px) {
    .bouncing-blobs-glass {
        backdrop-filter: blur(120px);
        -webkit-backdrop-filter: blur(120px);
    }
}

@media (max-width: 500px) {
    .bouncing-blob {
        width: 60vw;
    }

    .bouncing-blob--white {
        width: 30vw;
    }

    .bouncing-blobs-glass {
        backdrop-filter: blur(90px);
        -webkit-backdrop-filter: blur(90px);
    }

    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
        padding: 0 20px;
    }
}

@media(max-width: 500px) {
    .tutorial-link a {
        font-size: 14px;
        padding: 2px 4px;
    }

    .tutorial-link svg {
        width: 15px;
    }
}

/* For the typing text */
.main-intro-content p span.typed-text {
    font-weight: normal;
    color: var(--primary-color);
}

.main-intro-content p span.cursor {
    display: inline-block;
    background-color: #000000;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.main-intro-content p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}