main {
    margin-inline: 15%;
    /* background-color: aquamarine; */
    box-sizing: border-box;
    margin-top: 15px;

}

.main-intro-container {
    height: 60vh;
    /* border: 4px solid black; */
    border-radius: 15px;
    /* background-color: aqua; */
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    /* Grid Layout definitions */
    display: grid;
    grid-template-areas: 
        'title img'
        'title img';
    gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.main-intro-container-title {
    grid-area: title;
    /* background-color: yellow; */
    /* background-image: url("../resources/images/background/background_3.jpg"); */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

#main-intro-container-title-text {
    font-size: 5em;
    font-weight: 600;
}

#main-intro-container-tagline-text {
    font-size: 2em;
}

.title-text {
    line-height: 1.1;
}

.main-intro-container-img {
    grid-area: img;
    background-color: aqua;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    background-image: url("../resources/images/learn-sync-intro.jpg");
    background-size:cover;
    background-position: center;
    border-radius: 15px;
}

.main-features {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 15px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.main-features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    
}

.main-features-title-container {
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    font-size: 3em;
}

.feature-container {
    background-color: violet;
    height: 30vh;
    border-radius: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-container-desc {
    display: none;
}