main-container {
    width: 100%;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: auto 1fr;
}

nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    position: sticky;
    top: 0;
    height: 100svh;
    background-color: var(--snow);
    /* background-color: pink; */
    /* padding: 0 15px 0 15px; */
    border-right: var(--default-border-width) solid var(--swan);
    padding: 10px 15px 0 15px;
}

.nav-list-item {
    display: flex;
    justify-content: left;
    border: var(--default-border-width) solid transparent;
    align-items: center;
    /* gap: 100px; */
    gap: 10px;
    font-family: var(--logo-font);
    font-size: var(--sub-heading-font-size);
    /* font-weight: 600; */
    padding: 15px;
    margin: 0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    gap: 1svh;
    padding: 10px;
}

.nav-list a {
    border-radius: var(--border-radius);
    color: var(--eel);
}

.nav-list a:hover {
    background-color: var(--polar);
}

.nav-list-item li {
    list-style: none;
    padding-left: 0;
}

.nav-list-item-link {
    text-decoration: none;
}

.nav-list-icon {
    height: 64px;
    width: auto;
}

.content-container {
    height: 300vh;
    background-color: yellow;
}

.logo {
    text-align: left;
}

.active {
    background-color: var(--macaw-mask-light);
    color: white;
}

.active li {
    border-radius: var(--border-radius);
    border: var(--default-border-width) solid var(--macaw);
    background-color: var(--macaw-mask-light);
    color: var(--macaw);
}

#nav-list-more-menu {
    position: relative;
}

.container-default,
.nav-list-item-link {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* .container-default:hover,f */
.nav-list-item-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a subtle drop shadow */
    transform: translateY(-2px);
    /* Move the box upward slightly */
}

.more-content-container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: yellow;
    box-sizing: border-box;
    min-width: fit-content;
    top: 100%;
    left: 100%;
}

.more-content-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5svh;
    /* margin: 0; */
    padding: 0;
}

main-content-container {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* align-items: right; */

}

content-container {
    display: flex;
    flex-direction: column;
    height: 300svh;
    padding: 15px;
    /* background-color: red; */

}

.container-home {
    /* display: flex;
    flex-direction: column; */

    display: grid;
    grid-template-areas:
        "title title"
        "pomodoro pomodoro"
        "friends groups"
        "daily-tasks daily-tasks";
    grid-gap: 10px;
    /* background-color: red; */
    /* gap: 15px; */
}

.title-dashboard {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: var(--logo-font-size);
    font-style: var(--main-font);
    color: var(--hare);
}

.home-pomodoro-timer {
    grid-area: pomodoro;
    color: var(--eel) !important;
    height: fit-content;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.material-icons {
    font-size: 24px; /* Adjust the font size to increase the icon size */
  }

.collapse-timer, .expand-timer {
    text-decoration: none;
    display: flex;
    position: absolute;
    color: var(--hare);
    font-size: 24px !important;
    cursor: pointer;
    transition: color 1s ease-in-out;
}

.expand-timer {
    top: 5px;
    right: 5px;
}

.collapse-timer {
    top: 5px;
    left: 5px;
    display: none;
}

.collapse-timer, .expand-timer :hover{
    color: var(--eel);
}

.container-pomodoro-timer {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
}

#time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1svw;
    font-size: var(--logo-font-size);
}

#time-min,
#time-sec {
    background-color: var(--feather-green);
    color: var(--snow);
    padding: 15px;
    height: fit-content;
    border-radius: var(--border-radius);
}

#pomo-btns {
    display: flex;
    flex-direction: row;
    gap: 1svw;
    margin-top: 2svh;
}

.pomo-btn {
    all: unset;
    background-color: var(--feather-green);
    color: var(--snow);
    font-size: var(--default-font-size);
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 10px;
}

.container-pomodoro-selector {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: yellow; */
    width: 300px;
    gap: 5px;
    overflow-x: auto;
    margin-top: 20px;
    /* background-color: yellow; */
}

.pomodoro-selector {
    padding: 0px 5px;
    margin: 0px 0 10px 0;
    /* margin: 5px; */
    /* border: var(--default-border-width) solid var(--feather-green); */
    align-items: center;
    gap: 5px;
    font-weight: 800;
    font-size: var(--font-for-flash-card);
    /* background-color: var(--snow); */
    /* border-radius: var(--border-radius); */
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* margin-bottom: 15px; */
    /* background-color: var(--polar); */
    position: relative;
}

.pomodoro-selector:first-child {
    margin-left: 40px;
}

.pomodoro-selector input[type="radio"] {
    display: none;
    /* Hide the default radio buttons */
}


.pomodoro-selector input[type="radio"]:checked + label {
    background-color: var(--feather-green);
    color: white;
  }
  
  .pomodoro-selector input[type="radio"]:checked + label:before {
    background-color: var(--feather-green);
    /* border-color: var(--feather-green); */
  }
  
  .pomodoro-selector label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 5px;
    background-color: var(--polar);
    /* border: var(--default-border-width) solid var(--feather-green); */
    border-radius: var(--btn-radius);
    gap: 5px;
  }

/* CSS For Social Container */
/* Code for Friends panel */

.container-friends {
    grid-area: friends;
    flex: 1;
    max-height: 50svh;
}

.container-add-friend,
#friend-form {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: var(--snow);
    border: 3px solid var(--feather-green);
    border-radius: var(--border-radius);
}

#friend-form {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#add-friend-btn {
    all: unset;
    background-color: var(--feather-green);
    border-radius: var(--border-radius);
    padding: 5px;
    color: var(--snow);
}

#friend-username {
    width: fit-content;
}

.friend {
    background-color: var(--snow);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
    height: fit-content;
    background-color: var(--polar);
    position: relative;
}

.friend-actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.remove-friend,
.send-streak {
    all: unset;
    background-color: var(--feather-green);
    border-radius: var(--btn-radius);
    padding: 5px;
    color: var(--snow);
    height: 16px;
    font-size: var(--less-imp-font-size);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.remove-friend {
    background-color: var(--cardinal);
    color: var(--snow);
}

.send-streak {
    background-color: var(--bee-mask);
    color: var(--eel);
}

/* Code for Groups panel */

.container-groups {
    flex: 1;
    grid-area: groups;

}

.container-daily-tasks {
    grid-area: daily-tasks;
}


extras-container {
    display: flex;
    flex-direction: column;
    /* height: 120svh; */
    gap: 15px;
    padding-right: 15px;
    /* background-color: yellow; */
    /* position: fixed; */
    /* bottom: 0; */
}

.stats-container {
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    justify-content: space-evenly;
    border: none;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
}

.stat-value {
    font-size: var(--font-for-flash-card);
}

.stat:hover {
    background-color: var(--polar);
}

.stat:hover .stat-data {
    display: block;
    top: 100px;
    right: 10px;
}

.stat-icon {
    height: 32px;
}

/* Everything for Flash Cards goes here... */
.container-flash-cards {
    display: flex;
    flex-direction: column;

}

.flash-cards-categories {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 15px;
}

.flash-cards-categories::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.flash-cards-categories::-webkit-scrollbar-track {
    background-color: var(--snow);
}

.flash-cards-categories::-webkit-scrollbar-thumb {
    background-color: var(--feather-green);
    border-radius: var(--border-radius);
}

.link-secondary {
    margin-right: 10px;
    white-space: nowrap;
    min-height: 50svh;

}

/* For notification container - side bar */
.notification-container {
    display: flex;
    flex-direction: column;
    color: var(--eel);
}

.notification-friend-reqs {
    /* background-color: var(--foot-green); */
    padding: 5px;
    max-height: 20svh;
    min-height: fit-content;
    overflow-y: auto;
}


.notification {
    background-color: var(--snow);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
    background-color: var(--polar);
}

.notification-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.notification-action-btn {
    all: unset;
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--snow);
    border-radius: 100%;
    height: fit-content;
}

.material-symbols-outlined {
    font-size: var(--font-for-flash-card);
}

.accept {
    background-color: var(--feather-green);
}

.reject {
    background-color: var(--cardinal);
}

.notification-type {
    font-size: var(--less-imp-font-size);
    color: var(--wolf);
}


.todo-handler input {
    padding: 10px 0;
    text-align: left;
    color: var(--macaw);
    background-color: var(--snow);
    font-family: var(--main-font);
    border-radius: var(--link-radius);
    box-shadow: 0px 6px 1px var(--hare);
    border: 1px solid var(--swan);
    width: 90%;
    padding: 10px;
    font-size: var(--normal-font-size);
    margin-bottom: 10px;
}

.degree {
    color: var(--feather-green);
}

/* 
    All CSS for tasks
*/
.daily-tasks-container {
    display: flex;
    flex-direction: column;
    color: var(--eel);
}

.daily-tasks-show {
    display: flex;
    height: 250px;
    overflow-y: auto;
    flex-direction: column;
    /* background-color: black; */
}

.daily-task {
    background-color: var(--snow);
    border-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
    height: fit-content;
    background-color: var(--polar);
    position: relative;
}

.daily-task:first-child {
    margin-top: 20px;
}

.daily-task-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.daily-task-difficulty {
    position: absolute;
    top: -20%;
    right: 5%;
    display: flex;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 1200;
    border-radius: var(--border-radius);
    background-color: var(--diff-lvl-2);
    padding: 2px;
    letter-spacing: 1px;
    align-items: center;
}

.daily-task-description {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
    text-align: right;
}