@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Satisfy&family=Varela+Round&display=swap');

:root {

    /* Core Colours */
    /* --feather-green: #9302cc;   Primary Colour */
    --feather-green: #58cc02;
    --mask-green: #89e219;
    /* --mask-green: #bb38db; */
    --eel: #4b4b4b;
    --snow: #ffffff;

    /* Secondary Colours */
    --macaw: #1cb0f6;
    --cardinal: #ff4b4b;
    --bee: #ffc800;             /* Secondary Colour */
    --fox: #ff9600;
    --beetle: #ce82ff;
    --humpback: #2b70c9;

    /* Tints */
    --eel: #4b4b4b; /* Black */
    --wolf: #777777;
    --hare: #afafaf;
    --swan: #e5e5e5;
    --polar: #f7f7f7;
    --snow: #ffffff; /* White */

    /* Font Style */
    --main-font: 'Poppins', sans-serif;     /* For text */ 
    --cursive-font-0: 'Pacifico', cursive;  /* For highlighting text */ 
    --cursive-font-1: 'Satisfy', cursive;   /* Alterative for highlighting text */
    --logo-font: 'Varela Round', sans-serif;/* For LearnSync Text */

    /* Font Size */
    --logo-font-size: 2.5rem;
    --heading-font-size: 3rem;
    --sub-heading-font-size: 1.rem;
    --default-font-size: 1.15rem; /* Default */
    --less-imp-font-size: 1rem;

    /* Links Basic Config */
    --link-radius: 12px;
}

* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--eel);
    font-size: var(--default-font-size);
}

.logo {
    font-family: var(--logo-font);
    font-size: var(--logo-font-size);
    color: var(--feather-green);
    font-weight: 800;
    text-align: center;
    line-height: 2em;
}

.heading {
    font-family: var(--logo-font);
    font-size: var(--heading-font-size);
    font-weight: 800;
    /* color: var(--eel); */
    line-height: 1.5em;
    /* text-align: center; */
    color: var(--feather-green);
}

.sub-heading {
    font-family: var(--main-font);
    font-size: var(--sub-heading-font-size);
    font-weight: 600;
    text-align: center;
    /* color: var(--eel); */
    line-height: 1.5em;
}

.simple-text {
    font-family: var(--main-font);
    color: var(--eel);
    font-size: var(--default-font-size);

}

.less-imp-text {
    font-family: var(--main-font);
    color: var(--hare);
    font-size: var(--less-imp-font-size);
}

.link-primary {
    text-decoration: none;
    background-color: var(--feather-green);
    color: var(--snow);
    font-family: var(--main-font);
    padding: 10px;
    border-radius: var(--link-radius);
    box-shadow: 0px 4px 1px var(--hare);
    transition: background-color.2s ease-in-out;
    border: 3px solid var(--swan);
    width: 100%;
    text-align: center;
    font-size: var(--sub-heading-font-size);
    max-width: fit-content;
    min-width: 10svw;
}

.link-primary:hover {
    background-color: var(--mask-green);

}

.link-secondary {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--macaw);
    background-color: var(--snow);
    font-family: var(--main-font);
    border-radius: var(--link-radius);
    box-shadow: 0px 4px 1px var(--hare);
    border: 3px solid var(--swan);
    transition: background-color .3s ease-in-out;
    width: 100%;
    font-size: var(--sub-heading-font-size);
    max-width: fit-content;
    min-width: 10svw;
}

.link-secondary:hover {
    background-color: var(--macaw);
    color: var(--snow);
}

@media only screen and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) {

}