main-container {
    width: 100%;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: auto 1fr;
}

nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    position: sticky;
    top: 0;
    height: 100svh;
    background-color: var(--snow);
    /* background-color: pink; */
    /* padding: 0 15px 0 15px; */
    border-right: var(--default-border-width) solid var(--swan);
    padding: 10px 15px 0 15px;
}

.nav-list-item {
    display: flex;
    justify-content: left;
    border: var(--default-border-width) solid transparent;
    align-items: center;
    /* gap: 100px; */
    gap: 10px;
    font-family: var(--logo-font);
    font-size: var(--sub-heading-font-size);
    /* font-weight: 600; */
    padding: 15px;
    margin: 0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    gap: 1svh;
    padding: 10px;
}

.nav-list a {
    border-radius: var(--border-radius);
    color: var(--eel);
}

.nav-list a:hover {
    background-color: var(--polar);
}

.nav-list-item li {
    list-style: none;
    padding-left: 0;
}

.nav-list-item-link {
    text-decoration: none;
}

.nav-list-icon {
    height: 64px;
    width: auto;
}

.content-container {
    height: 300vh;
}

.logo {
    text-align: left;
}

.active {
    background-color: var(--macaw-mask);
    color: white;
}

.active li {
    border-radius: var(--border-radius);
    border: var(--default-border-width) solid var(--macaw);
    background-color: var(--macaw-mask);
    color: var(--macaw);
}

#nav-list-more-menu {
    position: relative;
}

.container-default,
.nav-list-item-link {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* .container-default:hover, */
.nav-list-item-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a subtle drop shadow */
    transform: translateY(-2px);
    /* Move the box upward slightly */
}

.more-content-container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background-color: yellow;
    box-sizing: border-box;
    min-width: fit-content;
    top: 100%;
    left: 100%;
}

.more-content-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5svh;
    /* margin: 0; */
    padding: 0;
}

main-content-container {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* align-items: right; */

}

content-container {
    display: flex;
    flex-direction: column;
    height: 300svh;
    padding: 15px;
    /* background-color: red; */
}

.container-home {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    gap: 15px;
}

.home-pomodoro-timer {
    color: var(--eel) !important;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.container-pomodoro-timer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1svw;
    font-size: var(--logo-font-size);
}

#time-min,
#time-sec {
    background-color: var(--feather-green);
    color: var(--snow);
    padding: 15px;
    height: fit-content;
    border-radius: var(--border-radius);
}

#pomo-btns {
    display: flex;
    flex-direction: row;
    gap: 1svw;
    margin-top: 2svh;
}

.pomo-btn {
    all: unset;
    background-color: var(--feather-green);
    color: var(--snow);
    font-size: var(--default-font-size);
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 10px;
}

.container-pomodoro-selector {}


/* CSS For Social Container */
.container-social {
    display: flex;
    width: 100%;
    gap: 15px;
    flex-direction: row;
    text-align: center;
}

/* Code for Friends panel */

.container-friends {
    flex: 1;
    max-height: 50svh;
}

.container-add-friend,
#friend-form {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: var(--snow);
    border: 3px solid var(--feather-green);
    border-radius: var(--border-radius);
}

#friend-form {
    all: unset;
}

/* Code for Groups panel */

.container-groups {
    flex: 1;
}


extras-container {
    display: flex;
    flex-direction: column;
    height: 120svh;
    padding: 15px;
    /* background-color: yellow; */
    bottom: 0;
    position: sticky;
}

.stats-container {
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    justify-content: space-evenly;
    border: none;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
}

.stat-data {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

}

.stat-value {
    font-size: 1svw;
}

.stat:hover {
    background-color: var(--polar);
}

.stat:hover .stat-data {
    display: block;
    top: 100px;
    right: 10px;
}

.stat-icon {
    height: 1.5svw;
}

/* Everything for Flash Cards goes here... */
.container-flash-cards {
    display: flex;
    flex-direction: column;

}

.flash-cards-categories {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 15px;
}

.flash-cards-categories::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.flash-cards-categories::-webkit-scrollbar-track {
    background-color: var(--snow);
}

.flash-cards-categories::-webkit-scrollbar-thumb {
    background-color: var(--feather-green);
    border-radius: var(--border-radius);
}

.link-secondary {
    margin-right: 10px;
    white-space: nowrap;
    min-height: 50svh;

}

/* For notification container - side bar */
.notification-container {
    display: flex;
    flex-direction: column;
    color: var(--eel);
}

.notification-friend-reqs {
    background-color: var(--foot-green);
    padding: 5px;
}

.notification {
    background-color: var(--snow);
    border-radius: var(--border-radius);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.notification-action {
    display: none;
    /* other styles */
    transition: display 1s ease; /* Smooth transition effect */
}

.notification-action.show {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.notification-action-btn-accept, .notification-action-btn-reject {
    all: unset;
    
}


.todo-handler input {
    padding: 10px 0;
    text-align: left;
    color: var(--macaw);
    background-color: var(--snow);
    font-family: var(--main-font);
    border-radius: var(--link-radius);
    box-shadow: 0px 6px 1px var(--hare);
    border: 1px solid var(--swan);
    width: 90%;
    padding: 10px;
    font-size: var(--normal-font-size);
    margin-bottom: 10px;
}

.degree{
    color: var(--feather-green);
}
