@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;
}
