<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSync Dashboard</title>
    <link rel="stylesheet" href="../static/css/style-updated.css">
    <link rel="stylesheet" href="../static/css/style-dashboard.css">
</head>

<body>
    <main-container>
        <nav>
            <div class="logo">LearnSync</div>
            <hr>
            <ul class="nav-list">
                <a href="#" class="nav-list-item-link active" onclick="toggleActive(event, 'container-home')">
                    <li class="nav-list-item">
                        <img src="../static/resources/images/dashboard/home-icon.png" alt="" srcset=""
                            class="nav-list-icon">
                        Dashboard
                    </li>
                </a>
                <a href="#" class="nav-list-item-link" onclick="toggleActive(event, 'container-leaderboard')">
                    <li class="nav-list-item">
                        <img src="../static/resources/images/dashboard/leaderboard-icon.png" alt="" srcset=""
                            class="nav-list-icon">
                        Leaderboards
                    </li>
                </a>
                <a href="/flash_card" class="nav-list-item-link">
                    <li class="nav-list-item">
                        <img src="../static/resources/images/dashboard/flash-card-icon.png" alt="" srcset=""
                            class="nav-list-icon">
                        Flashcards
                    </li>
                </a>
                <a href="#" class="nav-list-item-link" onclick="toggleActive(event, 'container-profile')">
                    <li class="nav-list-item">
                        <img src="../static/resources/images/dashboard/profile-icon.png" alt="" srcset=""
                            class="nav-list-icon">
                        Profile
                    </li>
                </a>
                <a href="#" class="nav-list-item-link" onclick="toggleActive(event, 'container-preferences')">
                    <li class="nav-list-item">
                        <img src="../static/resources/images/dashboard/settings-icon.png" alt="" srcset=""
                            class="nav-list-icon">
                        Preferences
                    </li>
                </a>
                <a href="#" class="nav-list-item-link " popovertarget="more-info"
                    onclick="toggleActive(event, 'container-home')">
                    <li class="nav-list-item" id="nav-list-more-menu">
                        <img src="../static/resources/images/dashboard/more-icon.png" alt="" srcset=""
                            class="nav-list-icon">
                        More
                    </li>
                </a>
            </ul>
            <!-- <div popover id="more-info" class="more-content-container container-default">
                <a href="" class="more-content-links general-links">
                    Empty
                </a>
                <a href="" class="more-content-links general-links">
                    Help
                </a>
                <hr>
                <a href="" class="more-content-links general-links">
                    Signout
                </a>
            </div> -->
        </nav>
        <main-content-container>
            <content-container>
                <div class="heading">Welcome back! {{ user['username'] }}</div>
                <div class="container-home" id="container-home">
                    <div class="container-default home-pomodoro-timer">
                        <div class="container-pomodoro-timer">
                            <div class="heading">Pomodoro Timer</div>
                            <div id="time">
                                <div id="time-min">25</div>:
                                <div id="time-sec">00</div>
                            </div>
                            <div id="pomo-btns">
                                <button id="start" class="pomo-btn">Start</button>
                                <button id="stop" class="pomo-btn">Stop</button>
                                <button id="reset" class="pomo-btn">Reset</button>
                            </div>
                        </div>
                        <div class="container-pomodoro-selector">
                            <form>
                                <label>
                                    <input type="radio" name="time_opt" data-option="0" value="1" checked>
                                    Time N-N
                                </label>
                                <label>
                                    <input type="radio" name="time_opt" data-option="1" value="2">
                                    Time N-N
                                </label>
                                <label>
                                    <input type="radio" name="time_opt" data-option="2" value="3">
                                    Time N-N
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="container-tasks container-default">
                        <div class="heading">Tasks To-Do</div>
                    </div>
                    <div class="container-social">
                        <div class="container-friends container-default">
                            <div class="heading">Friends</div>
                            <div class="container-add-friend">
                                <form action="/add-friend/{{ user._id }}" method="post" id="friend-form">
                                    <input type="text" placeholder="Friend's Username" name="friend-username"
                                        id="friend-username">
                                    <button type="submit" id="add-friend-btn">Add</button>
                                </form>
                            </div>
                            <div class="alert-box" id="alert-friend-form">Oh O! Invalid Username</div>
                            <div class="container-friends-list">
                                {% for friend in user.friends %}
                                <div class="friend">
                                    <div class="friend-username">{{ friend }}</div>
                                    <!-- You can add additional information about the friend here -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="container-groups container-default">
                            <div class="heading">Groups</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="container-leaderboard" id="container-leaderboard">
                    <div class="header-leaderboard container-default">
                        <div class="heading">Profile</div>
                    </div>
                </div> -->
                <!-- <div class="container-profile container-default" id="container-profile">
                    <div class="heading">Profile</div>
                </div>
                <div class="container-preferences container-default" id="container-preferences">

                </div> -->

            </content-container>
            <extras-container>
                <div class="stats-container container-default">
                    <div class="stat" id="streak-stat">
                        <img class="stat-icon" src="../static/resources/images/dashboard/streak-icon.png" alt="">
                        <stat class="stat-value sub-heading">{{ user.stats[0].streaks }}</stat>
                    </div>
                    <div class="stat">
                        <img class="stat-icon" src="../static/resources/images/dashboard/gems-icon.png" alt="">
                        <stat class="stat-value sub-heading">{{ user.stats[0].gems }}</stat>
                    </div>
                    <div class="stat">
                        <img class="stat-icon" src="../static/resources/images/dashboard/heart-icon.png" alt="">
                        <stat class="stat-value sub-heading">{{ user.stats[0].hearts }}</stat>
                    </div>
                </div>
                <div class="notification-container container-default">
                    <div class="sub-heading">Notifications</div>
                    <div class="notification-friend-reqs">
                        <div class="normal-text">Friend Req's</div>
                        {% for request in requests %}
                        <div class="notification ">
                            <div class="notification-from">{{ request.sender }}</div>
                            <div class="notification-action" id="notification-actions">
                                <div class="notification-type">{{ request.type }}</div>
                                <button class="notification-action-btn accept"
                                    onclick="acceptFriendRequest('{{ request._id }}')">Accept</button>
                                <button class="notification-action-btn reject"
                                    onclick="rejectFriendRequest('{{ request._id }}')">Reject</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </extras-container>
        </main-content-container>
    </main-container>

    <script>
        // Function to toggle active class of side navigation
        function toggleActive(event) {
            // Prevent default link behavior
            event.preventDefault();

            // Remove active class from all links
            const links = document.querySelectorAll('.nav-list-item-link');
            links.forEach(link => link.classList.remove('active'));

            // Add active class to the clicked link
            event.currentTarget.classList.add('active');
        }
    </script>

    <!-- Script for hiding and showing containers -->

    <!-- Script for Pomodoro -->
    <script>
        const timeDisplayMin = document.getElementById('time-min');
        const timeDisplaySec = document.getElementById('time-sec');
        const startButton = document.getElementById('start');
        const stopButton = document.getElementById('stop');
        const resetButton = document.getElementById('reset');

        let isWorkTime = true;
        let secondsLeft;
        let timerInterval;

        function updateTime() {
            const minutes = Math.floor(secondsLeft / 60);
            const seconds = secondsLeft % 60;
            timeDisplayMin.textContent = `${minutes.toString().padStart(2, '0')}`;
            timeDisplaySec.textContent = `${seconds.toString().padStart(2, '0')}`;
        }

        function startTimer() {
            startButton.disabled = true;
            stopButton.disabled = false;
            resetButton.disabled = false;
            const startTime = new Date().getTime();
            const endTime = startTime + (secondsLeft * 1000);
            localStorage.setItem('endTime', endTime);
            timerInterval = setInterval(() => {
                const now = new Date().getTime();
                secondsLeft = Math.round((endTime - now) / 1000);
                updateTime();
                if (secondsLeft <= 0) {
                    clearInterval(timerInterval);
                    if (isWorkTime) {
                        secondsLeft = 300; // 5 minutes break
                        isWorkTime = false;
                    } else {
                        secondsLeft = 1500; // 25 minutes work time
                        isWorkTime = true;
                    }
                    localStorage.removeItem('endTime');
                    startButton.disabled = false;
                    stopButton.disabled = true;
                }
            }, 1000);
        }

        function stopTimer() {
            clearInterval(timerInterval);
            startButton.disabled = false;
            stopButton.disabled = true;
        }

        function resetTimer() {
            clearInterval(timerInterval);
            isWorkTime = true;
            secondsLeft = 1500; // Reset to 25 minutes work time
            updateTime();
            localStorage.removeItem('endTime');
            startButton.disabled = false;
            stopButton.disabled = true;
        }

        // Check if there's a saved end time in localStorage
        const savedEndTime = localStorage.getItem('endTime');
        if (savedEndTime) {
            const now = new Date().getTime();
            secondsLeft = Math.round((savedEndTime - now) / 1000);
            if (secondsLeft > 0) {
                startTimer();
            } else {
                localStorage.removeItem('endTime');
            }
        } else {
            secondsLeft = 1500; // Default to 25 minutes work time
        }

        startButton.addEventListener('click', startTimer);
        stopButton.addEventListener('click', stopTimer);
        resetButton.addEventListener('click', resetTimer);

    </script>
    <!-- Friend's section script goes here... Check for ID's if available or not -->
    <script>
        async function checkUsername(username) {
            const response = await fetch('/check-username', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `username=${username}`
            });
            const data = await response.json();
            return data.message === 'Username available';
        }

        async function checkStatus(username) {
            const response = await fetch('/add-friend/{{ user._id }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `friend-username=${username}`
            });
            const data = await response.json();
            return data.message;
        }

        document.querySelector('#add-friend-btn').addEventListener('click', async function (e) {
            e.preventDefault();
            const username = document.querySelector('#friend-username').value;
            // console.log(username)
            const user_id = '{{ user._id }}';
            let alertbox = document.querySelector('#alert-friend-form');
            if (!username) {
                alertbox.style.display = 'flex';
                alertbox.textContent = "Please enter Friends username";
            }
            const isFriendPresent = await checkUsername(username);

            if (isFriendPresent) {
                response = await checkStatus(username);
                console.log(response);
                if (response === 'Friend already in friends list') {
                    alertbox.style.display = 'flex';
                    alertbox.textContent = "Already you're friends";
                } else if (response === 'Friend Request Sent!') {
                    alertbox.style.display = 'flex';
                    alertbox.style.backgroundColor = 'var(--feather-green)';
                    alertbox.textContent = "Friend Request Sent!";
                } else {
                    alertbox.style.display = 'flex';
                    alertbox.textContent = "Failed to add friend"
                }
            } else {
                alertbox.style.display = 'flex';
                alertbox.textContent = "Check Friend's Name";
            }
        });

        // document.querySelector('#add-friend-btn').addEventListener('click', async function (e) {
        //     e.preventDefault();
        //     // const username = document.querySelector('#friend-username').value;
        //     // console.log(username)
        //     // let alertbox = document.querySelector('#alert-friend-form');
        //     if (!username) {
        //         alertbox.style.display = 'flex';
        //         alertbox.textContent = "Please enter Friends username";
        //     } else {
        //         const response = await fetch(`/add-friend/${user_id}`, {
        //             method: 'POST',
        //             headers: {
        //                 'Content-Type': 'application/x-www-form-urlencoded'
        //             },
        //             body: `friend-username=${username}`
        //         });
        //         const data = await response.json();
        //         if (response.status == 200) {
        //             alertbox.style.display = 'flex';
        //             alertbox.textContent = data.message;
        //         } else if (response.status == 400) {
        //             alertbox.style.display = 'flex';
        //             alertbox.textContent = data.message;
        //         } else {
        //             alertbox.style.display = 'flex';
        //             alertbox.textContent = "Failed to add friend";
        //         }
        //     }
        // });
    </script>

    <!-- Script for expanding notification -->
    <script>
        document.addEventListener('click', function (event) {
            if (event.target.closest('.notification')) {
                const notificationActions = event.target.closest('.notification').querySelector('.notification-action');
                if (notificationActions) {
                    notificationActions.classList.toggle('show');
                }
            }
        });
    </script>

    <script>
        async function acceptFriendRequest(requestId) {
            const response = await fetch(`/accept-friend-request/${requestId}`, {
                method: 'POST'
            });
            const data = await response.json();
            if (response.status === 200) {
                // Handle success, maybe hide the notification or update UI
                console.log(data.message);
            } else {
                // Handle error, maybe show an error message
                console.error(data.message);
            }
        }

        async function rejectFriendRequest(requestId) {
            const response = await fetch(`/reject-friend-request/${requestId}`, {
                method: 'POST'
            });
            const data = await response.json();
            if (response.status === 200) {
                // Handle success, maybe hide the notification or update UI
                console.log(data.message);
                // Remove the notification from the UI
                const notification = document.querySelector(`.notification[data-request-id="${requestId}"]`);
                notification.style.display = 'none';
            } else {
                // Handle error, maybe show an error message
                console.error(data.message);
            }
        }
    </script>
</body>

</html>