<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style-updated.css">
    <link rel="stylesheet" href="../static/css/style-flash-cards.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">FlashCards</div>
            <div class="nav-search-bar">
                <span class="material-symbols-outlined search-logo" style="font-size: 32px;">
                    search
                </span>
                <input type="search" name="search_flashcards" id="search_flashcards" placeholder="Search Cards">
                <select name="flash-card-view" id="flash-card-view">
                    <option value="1">My Cards</option>
                    <option value="2" selected>Community Cards</option>
                </select>
            </div>
            <span class="material-symbols-outlined bookmarked-flashcards" style="font-size: 32px;">
                collections_bookmark
            </span>
        </nav>
    </header>
    <main>
        <div class="flash-card-catalog-container">

        </div>
    </main>

    <div class="flashcard-creator" id="flashcard-creator">
        <div class="fc-con">
            <div class="ui-button close-button" id="close-button">Close</div>
            <div class="heading" >FlashCards Creator</div>
            <form action="/insert-flash-card" method="post" id="flashCard-Form">
                <div id="card-info-fields">
                    <input type="text" class="name" name="name" placeholder="Name" required>
                    <input type="text" class="subject" name="subject" placeholder="Subject" required>
                    <input type="text" class="tags" name="tags" placeholder="Enter #tag's seperated by space">
                </div>
                <div id="questionFields-container">
                    <!-- <input type="text" class="question" name="question[]" placeholder="Question">
                        <input type="text" class="answer" name="answer[]" placeholder="Answer"> -->
                </div>
                <div class="flashcard-form-btns">
                    <a class="link-secondary" id="submitForm">Submit</a>
                    <a class="link-primary" href="#" id="addFields">Add Question</a>
                </div>
        </div>
        </form>
    </div>
    </div>
    <button id="open-creator">
        <span class="material-symbols-outlined" style="font-size: 48px; padding: 5px;">
            new_window
        </span>
    </button>
    <script>
        let questionCounter = 1;

        document.getElementById('addFields').addEventListener('click', function (e) {
            e.preventDefault();

            var questionFields = document.getElementById('questionFields-container');
            // questionFields.style.display = 'flex';
            var newQuestionField = document.createElement('div');
            // newQuestionField.style.display = 'flex';
            // newQuestionField.className = "questionFields";
            newQuestionField.innerHTML = `
            <div class="questionFields">
                <input type="text" class="question" name="question[]" placeholder="Keyword ${questionCounter}" >
                <input type="text" class="answer" name="answer[]" placeholder="Description ${questionCounter}" >
            </div>
            `;
            questionFields.appendChild(newQuestionField);
            questionCounter++;
        });

        document.getElementById('open-creator').addEventListener('click', function () {
            var flashcardCreator = document.getElementById('flashcard-creator');
            flashcardCreator.style.display = 'flex';
            flashcardCreator.style.left = '50%';
            flashcardCreator.style.top = '50%';
            flashcardCreator.style.transform = 'translate(-50%, -50%)';
        });

        document.getElementById('close-button').addEventListener('click', function (e) {
            e.preventDefault();
            var flashcardCreator = document.getElementById('flashcard-creator');
            flashcardCreator.style.display = 'none';
        });

    </script>
    <script>
        // Search FlashCards on Keyword
        async function searchFlashcards(keyword) {
            const url = '/search-flashcards';
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ keyword: keyword })
            };

            try {
                const response = await fetch(url, options);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error:', error);
                return null;
            }
        }

        async function searchUserFlashcards(keyword) {
            const url = '/search-user-flashcards';
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ keyword: keyword })
            };

            try {
                const response = await fetch(url, options);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error:', error);
                return null;
            }
        }

        // Fetch all flashcards
        // Function to fetch all flashcards from the server
        async function fetchAllFlashcards() {
            const url = '/fetch-all-flashcards';
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            try {
                const response = await fetch(url, options);
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                return null;
            }
        }

        const BASE_URL = "{{ base_url }}";

        function createFlashcardElement(flashcard) {
            const flashcardLink = document.createElement('a');
            flashcardLink.setAttribute('href', `/flashcard/${flashcard._id}`);

            // Generate a random number between 0 and 20 to select a random background image
            const randomImageNumber = Math.floor(Math.random() * 19); // 21 is exclusive upper bound
            const randomImageName = `Designer${randomImageNumber}.jpeg`; // Assuming the images have .jpg extension
            console.log(randomImageName);
            // Set the background image using inline CSS
            // flashcardLink.style.backgroundImage = `url('../static/resources/images/flashcardapp/flashcard_backgrounds/${randomImageName}')`;
            // flashcardLink.style.backgroundImage = `url('../static/resources/images/flashcardapp/flashcard_backgrounds/Designer4.jpeg')`;
            flashcardLink.classList.add('flash-card-container', 'container-default');
            flashcardLink.style.backgroundImage = `url('${BASE_URL}/static/resources/images/flashcardapp/flashcard_backgrounds/${randomImageName}')`;

            flashcardLink.setAttribute('data-aos', 'fade-up');
            flashcardLink.setAttribute('data-aos-duration', '1000');

            const flashcardBackground = document.createElement('div');
            flashcardBackground.classList.add('flash-card-background');
            // flashcardBackground.style.backgroundImage = `url('../static/resources/images/flashcardapp/flashcard_backgrounds/${randomImageName}')`;

            const flashcardDetails = document.createElement('div');
            flashcardDetails.classList.add('flash-card-details');

            // const cardName = document.createElement('div');
            // cardName.classList.add('card-name');
            // cardName.textContent = Name;
            // cardTopic.appendChild(cardName);

            const cardTopic = document.createElement('div');
            cardTopic.classList.add('card-topic');
            cardTopic.textContent = flashcard.name;

            const cardTopicLegend = document.createElement('div');
            cardTopicLegend.classList.add('card-topic-legend');
            cardTopicLegend.textContent = "Topic"; // Set whatever content you want here
            cardTopic.appendChild(cardTopicLegend);

            const cardCategory = document.createElement('div');
            cardCategory.classList.add('card-category');
            cardCategory.textContent = flashcard.category;

            const cardCategoryLegend = document.createElement('div');
            cardCategoryLegend.classList.add('card-category-legend');
            cardCategoryLegend.textContent = "Subject"; // Set whatever content you want here
            cardCategory.appendChild(cardCategoryLegend);

            const cardCreator = document.createElement('div');
            cardCreator.classList.add('card-creator');
            cardCreator.textContent = flashcard.created_by;

            const cardCreatorLegend = document.createElement('div');
            cardCreatorLegend.classList.add('card-creator-legend');
            cardCreatorLegend.textContent = "Creator"; // Set whatever content you want here
            cardCreator.appendChild(cardCreatorLegend);

            const cardHashtags = document.createElement('div');
            cardHashtags.classList.add('card-hashtags');
            

            flashcard.hashtags.forEach(tag => {
                const hashtag = document.createElement('div');
                hashtag.setAttribute('id', 'card-hashtag');
                hashtag.textContent = tag;
                cardHashtags.appendChild(hashtag);
            });

            flashcardDetails.appendChild(cardTopic);
            flashcardDetails.appendChild(cardCategory);
            flashcardDetails.appendChild(cardCreator);
            flashcardDetails.appendChild(cardHashtags);

            flashcardLink.appendChild(flashcardBackground);
            flashcardLink.appendChild(flashcardDetails);

            return flashcardLink;
        }


        // Function to display all fetched flashcards
        function displayFlashcards(flashcards) {
            const flashcardContainer = document.querySelector('.flash-card-catalog-container');
            flashcardContainer.innerHTML = ''; // Clear existing content

            if (flashcards && flashcards.length > 0) {
                flashcards.forEach(flashcard => {
                    const flashcardElement = createFlashcardElement(flashcard);
                    flashcardContainer.appendChild(flashcardElement);
                });
            } else {
                // Display message to create flashcard
                flashcardContainer.innerHTML = '<p>No flashcards found. <a href="#" id="createFlashcardLink">Create a flashcard</a>.</p>';

                // Add event listener to the create flashcard link
                const createFlashcardLink = document.getElementById('createFlashcardLink');
                createFlashcardLink.addEventListener('click', function (event) {
                    event.preventDefault();
                    // Add your logic here to handle the creation of a flashcard, e.g., opening a modal or redirecting to a new page
                    var flashcardCreator = document.getElementById('flashcard-creator');
                    flashcardCreator.style.display = 'flex';
                    flashcardCreator.style.left = '50%';
                    flashcardCreator.style.top = '50%';
                    flashcardCreator.style.transform = 'translate(-50%, -50%)';
                });
            }
        }


        // Function to handle the response from fetchall_flashcards and display the flashcards
        async function handleFetchAllFlashcards() {
            const flashcards = await fetchAllFlashcards();
            displayFlashcards(flashcards);
        }

        // Call the function to fetch and display all flashcards when the page loads


        // Function to insert a flashcard
        async function fetchUserFlashcards() {
            const url = '/fetch-user-flashcards/{{ user_id }}';
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            };

            try {
                const response = await fetch(url, options);
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                return null;
            }
        }

        async function insertFlashcard(formData) {
            const url = `/insert-flash-card`;
            const options = {
                method: 'POST',
                body: formData
            };

            try {
                const response = await fetch(url, options);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error:', error);
                return null;
            }
        }

        // Event listener for link click
        document.getElementById('submitForm').addEventListener('click', async function (event) {
            event.preventDefault();

            const formData = new FormData(document.getElementById('flashCard-Form'));
            const response = await insertFlashcard(formData);

            if (response) {
                if (response.flashcard_id) {
                    // Flashcard created successfully
                    alert('Flashcard created successfully with ID: ' + response.flashcard_id);
                    var flashcardCreator = document.getElementById('flashcard-creator');
                    flashcardCreator.style.display = 'none';
                    handleFetchAllFlashcards();
                } else {
                    // Error occurred while creating flashcard
                    alert('Failed to create flashcard: ' + response.message);
                }
            } else {
                // Error occurred while sending request
                alert('Failed to send request to create flashcard.');
            }
        });

        function displayUserFlashcards(flashcards) {
            const flashcardContainer = document.querySelector('.flash-card-catalog-container');
            flashcardContainer.innerHTML = ''; // Clear existing content

            if (flashcards) {
                flashcards.forEach(flashcard => {
                    const flashcardElement = createFlashcardElement(flashcard);
                    flashcardContainer.appendChild(flashcardElement);
                });
            } else {
                // Handle error case
                flashcardContainer.textContent = 'Failed to fetch flashcards.';
            }
        }

        async function handleFetchUserFlashcards() {
            const flashcards = await fetchUserFlashcards();
            displayUserFlashcards(flashcards);
        }

        // document.addEventListener('DOMContentLoaded', handleFetchAllFlashcards);
        // document.addEventListener('DOMContentLoaded', handleFetchUserFlashcards);



        document.addEventListener('DOMContentLoaded', function () {
            // Function to handle search
            function handleSearch() {
                const searchInput = document.getElementById('search_flashcards');
                const keyword = searchInput.value.trim(); // Get the trimmed value of the search input
                const selectedOption = document.getElementById('flash-card-view').value;

                if (selectedOption === '1') {
                    // Search user's flashcards
                    searchUserFlashcards(keyword)
                        .then(data => {
                            // Display the fetched flashcards
                            displayFlashcards(data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Handle error case
                            const flashcardContainer = document.querySelector('.flash-card-catalog-container');
                            flashcardContainer.innerHTML = 'Failed to fetch flashcards.';
                        });
                } else if (selectedOption === '2') {
                    // Search all flashcards
                    searchFlashcards(keyword)
                        .then(data => {
                            // Display the fetched flashcards
                            displayFlashcards(data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Handle error case
                            const flashcardContainer = document.querySelector('.flash-card-catalog-container');
                            flashcardContainer.innerHTML = 'Failed to fetch flashcards.';
                        });
                }
            }

            // Add event listener for input changes in the search field
            document.getElementById('search_flashcards').addEventListener('input', handleSearch);

            document.getElementById('search_flashcards').addEventListener('input', handleSearch);

            // Function to load flashcards based on the selected option
            function loadFlashcardsBasedOnOption() {
                const selectedOption = document.getElementById('flash-card-view').value;

                if (selectedOption === '1') {
                    // Load user's flashcards
                    handleFetchUserFlashcards();
                } else if (selectedOption === '2') {
                    // Load all flashcards
                    handleFetchAllFlashcards();
                }
            }

            // Load flashcards based on selected option on document load
            loadFlashcardsBasedOnOption();

            // Add event listener for changes in the select dropdown
            document.getElementById('flash-card-view').addEventListener('change', loadFlashcardsBasedOnOption);
        });


    </script>

    <script>AOS.init();</script>

</body>

</html>