<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style-updated.css">
    <link rel="stylesheet" href="../static/css/style-flash-cards.css">
</head>
<body>
    <header>
        <nav>
            <div class="title-bar">
                <div class="heading">FlashCards</div>
                <div></div>
            </div>
            <div class="search-bar">
                <form class="form-search-bar" action="">

                </form>
            </div>
            <div class="category-bar">
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name less-simple-text">Literature</div>
                </div>
            </div>
            <!-- <div class="category-bar">
                {% for category in categories %}
                <div class="category-container">
                    <img class="category-symbol" src="../static/resources/images/flashcardapp/category.png" alt="">
                    <div class="category-name simple-text">{{ category }}</div>
                </div>
                {% endfor %}
            </div> -->
        </nav>
    </header>
    <main>
        <div class="flash-card-catalog-container">
            <div class="flash-card-container container-default">
                <img src="../static/resources/images/flashcardapp/category.png" alt="" class="card-img">
                <div class="card-topic">Monkey</div>
                <div class="card-category">Anthropology</div>
                <div class="card-creator">Aum Pitroda</div>
            </div>
        </div>
    </main>
</body>
</html>