<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSync Home</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sidebar-style.css">
    <link rel="stylesheet" href="../static/css/header-style.css">
    <link rel="stylesheet" href="../static/css/main-style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-container-site-intro">
                <div class="header-container-site-logo">
                    <img id="header-logo" src="../static/resources/images/learnsync_logo.png" alt="" srcset="{{ url_for('static', filename='images/learnsync_logo.png') }}">
                </div>
            </div>
            <div class="header-container-site-title">
                <span id="header-title">LearnSync</span>
            </div>
            <div class="header-container-getstarted">
                <a href="#" id="getstarted">Get Started</a>
            </div>
        </div>
    </header>
    <main>
        <div class="main-intro-container">
            <div class="main-intro-container-title">
                <span id="main-intro-container-title-text" class="title-text">
                    LearnSync
                </span>
                <span id="main-intro-container-tagline-text" class="title-text">
                    Your Learning Companion!
                </span>
            </div>
            <div class="main-intro-container-img"></div>
        </div>
        <div class="main-features">
            <div class="main-features-title-container">
                <span id="main-features-container-title">Unique Features</span>
            </div>
            <div class="main-features-container">
                <div class="feature-container">
                    <div class="feature-container-switch">
                        <a href=""></a>
                    </div>
                    <div class="feature-container-cover">Spaced Repetition Scheduler</div>
                    <div class="feature-container-desc">Master Every Concept: LearnSync's Memory Magic Unleashed.</div>
                </div>
                <div class="feature-container">
                    <div class="feature-container-cover">Gamified Streaks and Challenges</div>
                    <div class="feature-container-desc">Study Smart, Play Smart: Fun in Every Learning Milestone.</div>
                </div>
                <div class="feature-container">
                    <div class="feature-container-cover">Comprehensive Sync</div>
                    <div class="feature-container-desc">Study, Connect, Thrive: All-in-One with LearnSync.</div>
                </div>
                <div class="feature-container">
                    <div class="feature-container-cover">Friend's Activity Panel</div>
                    <div class="feature-container-desc">Learn Together, Thrive Together: Your Connected Learning Community.</div>
                </div>
            </div>
        </div>
        
    </main>
</body>
</html>