<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSync Home</title>
    <link rel="stylesheet" href="../static/css/style-login.css">
    <link rel="stylesheet" href="../static/css/style-updated.css">
    <link rel="stylesheet" href="../static/css/style-home.css">

    <!-- AOS Library Import CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <!-- Code for Login Overlay Displayed -->
    <login-overlay id="login-overlay">
        <a id="close-login" class="ui-button-3"><span class="material-symbols-outlined">
            close
            </span></a>
        <form action="/login" id="form-login" method="post">
            <div class="login-container">
                <div class="heading">Login</div>
                <div class="sup-username">
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="sup-password" data-style="inactive">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <a href="#" class="link-primary" id="submit-link">Login</a>
                <div class="alert-box" id="alert-login-form">Oh O! Invalid Username</div>
                <!-- <a href="#" class="link-secondary">Google</a> -->
                <div class="link-primary" id="signup-link" style="display: none;">Signup Instead</div>
            </div>
        </form>
    </login-overlay>

    <!-- Header code goes here -->
    <header>
        <!-- Placeholder for navigation bar -->
        <div class="nav-placeholder">
            <div class="nav-placeholder-container">
                <div class="logo">LearnSync</div>
                <a style="display: none;">Get Started</a>
            </div>
        </div>

        <!-- Main Navigation Bar -->
        <div class="nav">
            <div class="nav-container">
                <div class="logo">LearnSync</div>
                <a href="/sign-up" id="top-get-started" class="link-primary">Get Started</a>
            </div>
        </div>

        <!-- Intro Contaienr for Page -->
        <div class="intro">
            <div class="header-intro-left">
                <img id="intro-image" src="../static/resources/images/homepage/intro-image.png" alt="" srcset="">
            </div>
            <div class="header-intro-right">

                <span class="heading" style="text-align: center;">The free, fun & effective way to augment your
                    learning!</span>
                <div class="header-intro-right-links">
                    <a href="/sign-up" class="link-primary" id="target-1">Get Started</a>
                    <a class="link-secondary" id="open-login">Already have a Account</a>
                </div>
            </div>
        </div>
        <div class="riddle-container">
            <div id="riddle-question">
                <span class="material-symbols-outlined" id="question-mark">
                    question_mark
                </span>
            </div>
            <div id="riddle-answer"></div>
            <button class="ui-button" id="referesh-riddle">
                <span class="material-symbols-outlined">
                    refresh
                </span>
            </button>
        </div>
    </header>

    <!-- Everything of page goes here... -->
    <main>
        <div class="features">
            <div class="feature-container">
                <div class="feature-desc">
                    <div class="heading">pomodoro timer.</div>
                    <div class="simple-text">Enhance concentration with structured work intervals and breaks, optimizing
                        study sessions for efficient learning.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/pomodoro-timer.png" alt=""
                    data-aos="fade-left" data-aos-duration="1000">
            </div>
            <div class="feature-container flex-inv">
                <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                    <div class="heading">streaks between friends.</div>
                    <div class="simple-text">Gamify learning, fostering motivation through task streaks, healthy
                        competition, and a sense of achievement.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/daily-streaks.png" alt=""
                    data-aos="fade-right" data-aos-duration="1000">
            </div>
            <div class="feature-container">
                <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                    <div class="heading">community cohesion.</div>
                    <div class="simple-text">Build a supportive network by sharing progress, collaborating, and staying
                        motivated within a connected learning community.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/community-cohesion.png" alt=""
                    data-aos="fade-left" data-aos-duration="1000">
            </div>
            <div class="feature-container flex-inv">
                <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                    <div class="heading">flash cards.</div>
                    <div class="simple-text">Reinforce key concepts through interactive flashcards, allowing users to
                        create, review, and test knowledge for enhanced recall and understanding.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/flash-cards.png" alt=""
                    data-aos="fade-right" data-aos-duration="1000">
            </div>
        </div>
    </main>
    <footer id="target-2">
        <div class="foot-content">
            <div class="heading" style="text-align: center; color: var(--snow);" data-aos="fade-up"
                data-aos-duration="1000">
                augment your learning <br> with LearnSync.
            </div>
            <img src="../static/resources/images/homepage/anytime-anywhere-1.png" alt="" class="foot-img img"
                data-aos="fade-up" data-aos-duration="1000">
            <div class="heading" style="text-align: center; color: var(--snow);" data-aos="fade-up"
                data-aos-duration="1000">
                anytime, anywhere<br> you & LearnSync.
            </div>
            <a href="#" class="link-primary" id="" style="margin: auto;">Get Started</a data-aos="fade-upp"
                data-aos-duration="1000">
        </div>
        <hr id="foot-hr">
        <div class="foot-main">
            <div class="foot-main-content">
                <div class="sub-heading foot-title">About Us</div>
                <ul class="foot-list">
                    <li><a href="mission.html">Mission</a></li>
                    <li><a href="#">Approach</a></li>
                    <li><a href="#">Efficacy</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="foot-main-content">
                <div class="sub-heading foot-title">Help & Support</div>
                <ul class="foot-list">
                    <li><a href="#">Privacy & Terms</a></li>
                    <li><a href="#">Community Guidelines</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Information Rights</a></li>
                </ul>
            </div>
            <div class="foot-main-content">
                <div class="sub-heading foot-title">Apps</div>
                <ul class="foot-list">
                    <li><a href="#">LearnSync on WEB</a></li>
                </ul>
            </div>
            <div class="foot-main-content">
                <div class="sub-heading foot-title">Social</div>
                <ul class="foot-list">
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../static/js/home_alt.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/fetch_random_riddle')
                .then(response => response.json())
                .then(riddle => {
                    var riddlesDiv = document.querySelector('#riddle-question');
                    riddlesDiv.textContent = riddle.question;

                    var riddleAnswerDiv = document.querySelector('#riddle-answer');
                    riddleAnswerDiv.textContent = riddle.answer;
                    console.log(riddle.answer);

                })
                .catch(error => {
                    console.error('Error fetching random riddle:', error);
                });
        });

        document.addEventListener('DOMContentLoaded', function () {
            // Function to fetch a random riddle
            function fetchRandomRiddle() {
                fetch('/fetch_random_riddle')
                    .then(response => response.json())
                    .then(riddle => {
                        var riddleQuestionDiv = document.querySelector('#riddle-question');
                        riddleQuestionDiv.textContent = riddle.question;

                        var riddleAnswerDiv = document.querySelector('#riddle-answer');
                        riddleAnswerDiv.textContent = riddle.answer;
                    })
                    .catch(error => {
                        console.error('Error fetching random riddle:', error);
                    });
            }

            // Initial fetch of a random riddle
            fetchRandomRiddle();

            // Event listener for the refresh button
            var refreshButton = document.querySelector('#referesh-riddle');
            refreshButton.addEventListener('click', function () {
                fetchRandomRiddle();
            });
        });
    </script>
</body>

</html>