<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSync Home</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sidebar-style.css">
    <link rel="stylesheet" href="../static/css/header-style.css">
    <link rel="stylesheet" href="../static/css/main-style.css">
    <link rel="stylesheet" href="../static/css/home-style.css">
</head>

<body>
    <main>
        <header>
            <div class="header-container">
                <div class="header-title-container">
    
                    <div class="header-title-container-links">
                        LearnSync
                    </div>
                </div>
                <div class="header-title-container-logo">
                    <img id="header-logo" src="../static/resources/images/test-logo.png" alt="">
                </div>
                <div class="header-link-container">
                    <div class="header-link-container-getstarted">
                        <a href="#" id="getstarted-header">
                            Get Started
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-intro-container">
            <div class="bouncing-blobs-container">
                <div class="bouncing-blobs-glass"></div>
                <div class="bouncing-blobs">
                    <div class="bouncing-blob bouncing-blob--blue"></div>
                    <div class="bouncing-blob bouncing-blob--blue"></div>
                    <div class="bouncing-blob bouncing-blob--blue"></div>
                    <div class="bouncing-blob bouncing-blob--white"></div>
                    <div class="bouncing-blob bouncing-blob--purple"></div>
                    <div class="bouncing-blob bouncing-blob--purple"></div>
                    <div class="bouncing-blob bouncing-blob--pink"></div>
                </div>
            </div>
            <div class="main-intro-container-content">
                <div class="main-intro-content">
                    Revolutionize learning with advanced techniques, gamified journeys.
                </div>
                <div class="main-intro-img">
                    <!-- <img id="main-intro-img" src="../static/resources/images/girl.png" alt=""> -->
                </div>
            </div>
        </div>
        <div style="height: 300vh;">THis is not main div</div>
    </main>
    <footer>

    </footer>
    <script src="../static/js/blob-anim.js"></script>r
</body>

</html>
<!-- 
LearnSync: Revolutionizing learning with
✓ Advanced Techniques
✓ Gamified Journeys
✓ All-in-one hub
✓ Connected Community
Revolutionize learning with advanced techniques, gamified journeys.
 -->