<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSync Home</title>
    <link rel="stylesheet" href="../static/css/style-login.css">
    <link rel="stylesheet" href="../static/css/style-updated.css">
    <link rel="stylesheet" href="../static/css/style-home.css">

    <!-- AOS Library Import CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <login-overlay id="login-overlay">
        <button id="close-login" class="link-tertiary">Close</button>
        <form action="#">
            <div class="login-container">
                <div class="heading">Login</div>
                <input type="text" name="" id="" placeholder="Email or Username">
                <input type="password" name="" id="" placeholder="Password">
                <a href="#" class="link-secondary">Login</a>
                <a href="#" class="link-secondary">Google</a>
            </div>
        </form>
    </login-overlay>
    <header>
        <div class="nav-placeholder">
            <div class="nav-placeholder-container">
                <div class="logo">LearnSync</div>
                <a href="" style="display: none;">Get Started</a>
            </div>
        </div>
        <div class="nav">
            <div class="nav-container">
                <div class="logo">LearnSync</div>
                <a href="" id="top-get-started" class="link-primary">Get Started</a>
            </div>
        </div>
        <div class="intro">
            <div class="header-intro-left"  >
                <!-- <img src="../static/resources/images/streak.png" alt="" style="object-fit: cover; height: 100%;"> -->
            </div>
            <div class="header-intro-right" >
                
                <span class="heading" style="text-align: center;">The free, fun & effective way to augment your learning!</span>
                <div class="header-intro-right-links">
                    <a href="" class="link-primary" id="target-1">Get Started</a>
                    <a href="" class="link-secondary" id="open-login">I already have an account</a>
                </div>
            </div>
        </div>
        <div class="outro">Quote of the day</div>
    </header>
    <main>
        <div class="features">
            <div class="feature-container">
                <div class="feature-desc" >
                    <div class="heading">pomodoro timer.</div>
                    <div class="simple-text">Enhance concentration with structured work intervals and breaks, optimizing study sessions for efficient learning.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/pomodoro-timer.png" alt="" data-aos="fade-left" data-aos-duration="1000">
            </div>
            <div class="feature-container flex-inv">
                <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                    <div class="heading">streaks between friends.</div>
                    <div class="simple-text">Gamify learning, fostering motivation through task streaks, healthy competition, and a sense of achievement.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/daily-streaks.png" alt="" data-aos="fade-right" data-aos-duration="1000">
            </div>
            <div class="feature-container">
                <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                    <div class="heading">community cohesion.</div>
                    <div class="simple-text">Build a supportive network by sharing progress, collaborating, and staying motivated within a connected learning community.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/community-cohesion.png" alt="" data-aos="fade-left" data-aos-duration="1000">
            </div>
            <div class="feature-container flex-inv" >
                <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                    <div class="heading">flash cards.</div>
                    <div class="simple-text">Reinforce key concepts through interactive flashcards, allowing users to create, review, and test knowledge for enhanced recall and understanding.</div>
                </div>
                <img class="feature-img img" src="../static/resources/images/homepage/flash-cards.png" alt="" data-aos="fade-right" data-aos-duration="1000">
            </div>
        </div>
    </main>
    <footer id="target-2">
        <div class="foot-content">
            <div class="heading" style="text-align: center; color: var(--snow);" data-aos="fade-up" data-aos-duration="1000">
                augment your learning <br> with LearnSync.
            </div>
            <img src="../static/resources/images/homepage/anytime-anywhere-1.png" alt="" class="foot-img img" data-aos="fade-up" data-aos-duration="1000">
            <div class="heading" style="text-align: center; color: var(--snow);" data-aos="fade-up" data-aos-duration="1000">
                anytime, anywhere<br> you & LearnSync.
            </div>
            <a href="#" class="link-primary" id="" style="margin: auto;">Get Started</a data-aos="fade-upp" data-aos-duration="1000">
        </div>
        <hr id="foot-hr">
        <div class="foot-main">
            <div class="foot-main-content">
                <div class="sub-heading foot-title">About Us</div>
                <ul class="foot-list">
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Approach</a></li>
                    <li><a href="#">Efficacy</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="foot-main-content">
                <div class="sub-heading foot-title">Help & Support</div>
                <ul class="foot-list">
                    <li><a href="#">Privacy & Terms</a></li>
                    <li><a href="#">Community Guidelines</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Information Rights</a></li>
                </ul>
            </div>
            <div class="foot-main-content">
                <div class="sub-heading foot-title">Apps</div>
                <ul class="foot-list">
                    <li><a href="#">LearnSync on WEB</a></li>
                </ul>
            </div>
            <div class="foot-main-content">
                <div class="sub-heading foot-title">Social</div>
                <ul class="foot-list">
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Script for Get-Starte Button to Navbar when scrolled below it. -->
    <script>
        window.addEventListener('scroll', function () {
            var scrollPosition = window.scrollY;
            var navHeight = document.querySelector('.nav').offsetHeight;
            var navElement = document.querySelector('.nav');

            if (scrollPosition > navHeight) {
                navElement.classList.add('nav-border');
            } else {
                navElement.classList.remove('nav-border');
            }
        });
    </script>
    <script>
        // Add event listener to the scroll event
        window.addEventListener('scroll', function () {
            var targetElement = document.getElementById('target-1');
            var targetElement1 = document.getElementById('target-2');
            // Get the height from the top of the page
            var elementHeightFromTop = targetElement.offsetTop;
            var elementHeightFromTop1 = targetElement1.offsetTop;

            // Get the current scroll position from the top of the page
            var currentScroll = window.pageYOffset;

            if (currentScroll > elementHeightFromTop-60 && currentScroll < elementHeightFromTop1-60) {
                document.getElementById('top-get-started').style.display = 'block';
            } else {
                document.getElementById('top-get-started').style.display = 'none';
            }
            console.log('Element height from top of the page: ' + elementHeightFromTop + ' pixels');
            console.log('Current scroll position from the top: ' + currentScroll + ' pixels');
        });

    </script>
    <!-- Script for Animation on Divs inin() -->
    <script>
        AOS.init();
    </script>
    <script src="../static/js/login-script.js"></script>

</body>

</html>