<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSync About Us</title>
    <link rel="stylesheet" href="../static/css/style-updated.css">
    <link rel="stylesheet" href="../static/css/style-general.css">
    <link rel="stylesheet" href="../static/css/mission-style.css">

    <!-- AOS Library Import CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>

</head>

<body>
    <section>
        <div class="nav-placeholder">
            <div class="nav-placeholder-container">
                <div class="logo">LearnSync</div>
                <a href="" style="display: none;">Get Started</a>
            </div>
        </div>
        <div class="nav">
            <div class="nav-container">
                <div class="logo-alt">LearnSync</div>
                <div class="header-intro-right-links">
                    <a href="signup.html" class="link-tertiary">Login</a>
                    <a href="home_alt.html" class="link-primary" id="target-1">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <main>
        <section>
            <div>
                <h2 style="font-family: var(--main-font);">About us</h2>
            </div>
            <nav class="navbar">
                <div class="nav-container-links">

                    <div class="nav-links">

                        <a href="#" class="tablinks active" onclick="openLink(event,'mission')">MISSION</a>
                        <a href="#" class="tablinks" onclick="openLink(event,'approach')">APPROACH</a>
                        <a href="#" class="tablinks" onclick="openLink(event,'team')">TEAM</a>
                        <a href="#" class="tablinks" onclick="openLink(event,'research')">REASEARCH</a>
                        <a href="#" class="tablinks" onclick="openLink(event,'purpose')">PURPOSE</a>
                        <!-- <a href="#" class="tablinks" onclick="openLink(event,'press')">PRESS</a> -->
                        <a href="#" class="tablinks" onclick="openLink(event,'contactus')">CONTACT</a>
                    </div>
                </div>
            </nav>
            <hr>
            <div class="features">
                <div class="tabcontent" id="mission">
                    <div class="feature-container">
                        <div class="feature-desc">
                            <div class="heading">mission</div>
                            <div class="simple-text">At LearnSync, we're on a mission to revolutionize learning and
                                productivity. Our platform seamlessly integrates powerful tools and collaborative
                                features to make studying and working smarter and more efficient. We empower users to
                                reach their full potential by providing the resources they need to succeed, whether
                                studying solo or collaborating with others.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/mission1.png" alt=""
                            data-aos="fade-left" data-aos-duration="1000">
                    </div>
                    <div class="flex-inv feature-container ">
                        <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                            <div class="heading">mission</div>
                            <div class="simple-text">In essence, LearnSync is more than just a productivity platform;
                                it's a community-driven hub for learning and growth. We envision a world where
                                individuals can connect, collaborate, and inspire each other to reach new heights. By
                                fostering a culture of lifelong learning and continuous improvement, we aim to make
                                learning a fulfilling and enriching experience for everyone involved.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/mission2.png" alt=""
                            data-aos="fade-right" data-aos-duration="1000">
                    </div>
                </div>
                <div class="tabcontent" id="approach">
                    <div class="feature-container">
                        <div class="feature-desc">
                            <div class="heading">approach</div>
                            <div class="simple-text">At LearnSync, our approach was rooted in simplicity and
                                effectiveness. We prioritized user experience above all else, ensuring that our platform
                                was intuitive and easy to navigate. By focusing on clean design and streamlined
                                functionality, we aimed to eliminate unnecessary complexity and make learning and
                                productivity tools accessible to all</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/approach1.png" alt=""
                            data-aos="fade-left" data-aos-duration="1000">
                    </div>
                    <div class="flex-inv feature-container ">
                        <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                            <div class="heading">approach</div>
                            <div class="simple-text">Additionally, we value adaptability. We actively listen to user
                                feedback and iterate on our platform to meet evolving needs. This iterative approach
                                ensures a tailored and personalized experience, empowering users to achieve their goals
                                effectively.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/approach2.png" alt=""
                            data-aos="fade-right" data-aos-duration="1000">
                    </div>
                </div>
                <div class="tabcontent" id="team">
                    <div class="feature-container">
                        <div class="feature-desc">
                            <div class="heading">UI</div>
                            <div class="simple-text">At LearnSync, our teams ensure excellence in UI design and database
                                & coding. The UI Design Team creates visually appealing and user-friendly interfaces,
                                focusing on accessibility and usability. Meanwhile, the Database and Coding Team handles
                                the technical backbone, designing robust data solutions and implementing backend logic.
                                Together, they deliver a seamless platform experience.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/team1.png" alt="" data-aos="fade-left"
                            data-aos-duration="1000">
                    </div>
                    <div class="flex-inv feature-container ">
                        <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                            <div class="heading">database and coding</div>
                            <div class="simple-text">The UI Design Team specializes in creating engaging interfaces,
                                while the Database and Coding Team focuses on the technical aspects. From intuitive
                                navigation to secure data storage, each team member plays a crucial role in delivering a
                                high-quality platform. Collaborating closely, they combine creativity with technical
                                expertise to meet user needs effectively.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/team2.png" alt="" data-aos="fade-right"
                            data-aos-duration="1000">
                    </div>
                </div>

                <div class="tabcontent" id="research">
                    <div class="feature-container">
                        <div class="feature-desc">
                            <div class="heading">Pomodoro Technique</div>
                            <div class="simple-text">
                                In researching the Pomodoro Technique, our team explored its origins, principles, and
                                effectiveness in boosting productivity. By analyzing studies and user experiences, we
                                gained insights into how to integrate the Pomodoro Timer into LearnSync effectively.
                            </div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/research1.png" alt=""
                            data-aos="fade-left" data-aos-duration="1000">
                    </div>
                    <div class="flex-inv feature-container ">
                        <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                            <div class="heading">Research</div>
                            <div class="simple-text">For the concept of the LearnSync project, we delved into online
                                learning platforms, collaborative tools, and productivity solutions. Through surveys and
                                market analysis, we identified target audience needs and shaped LearnSync to address
                                their challenges.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/research2.png" alt=""
                            data-aos="fade-right" data-aos-duration="1000">
                    </div>
                </div>
                <div class="tabcontent" id="purpose">
                    <div class="feature-container">
                        <div class="feature-desc">
                            <div class="heading">purpose</div>
                            <div class="simple-text">The purpose behind building LearnSync is to provide users with a
                                comprehensive platform that enhances learning and productivity. Our goal is to
                                streamline the learning process by offering a suite of tools and features that
                                facilitate efficient studying, task management, and collaboration. Whether users are
                                students preparing for exams, professionals seeking to acquire new skills, or teams
                                working on projects together, LearnSync aims to empower them to achieve their goals
                                effectively.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/purpose1.png" alt=""
                            data-aos="fade-left" data-aos-duration="1000">
                    </div>
                    <div class="flex-inv feature-container ">
                        <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                            <div class="heading">purpose</div>
                            <div class="simple-text">Furthermore, LearnSync is driven by the belief that education
                                should be accessible to all, regardless of geographical location or socioeconomic
                                status. By offering a user-friendly and versatile platform, we aim to democratize access
                                to quality learning resources and foster a global community of learners. Our ultimate
                                purpose is to inspire and support individuals on their learning journeys, helping them
                                unlock their full potential and pursue their passions with confidence and enthusiasm.
                            </div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/homepage/daily-streaks.png" alt=""
                            data-aos="fade-right" data-aos-duration="1000">
                    </div>
                </div>
                <!-- <div class="tabcontent" id="press">
                    <div class="feature-container">
                        <div class="feature-desc">
                            <div class="heading">press</div>
                            <div class="simple-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                                distinctio magni ab, praesentium sapiente, unde nobis quibusdam, voluptatem repellendus
                                dignissimos pariatur voluptatibus asperiores culpa. Est?</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/press1.png" alt="" data-aos="fade-left"
                            data-aos-duration="1000">
                    </div>
                    <div class="flex-inv feature-container ">
                        <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                            <div class="heading">press</div>
                            <div class="simple-text">Gamify learning, fostering motivation through task streaks, healthy
                                competition, and a sense of achievement.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/press2.png" alt="" data-aos="fade-right"
                            data-aos-duration="1000">
                    </div>
                </div> -->
                <div class="tabcontent" id="contactus">
                    <div class="feature-container">
                        <div class="feature-desc">
                            <div class="heading">contact us</div>
                            <div class="simple-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
                                distinctio magni ab, praesentium sapiente, unde nobis quibusdam, voluptatem repellendus
                                dignissimos pariatur voluptatibus asperiores culpa. Est?</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/contact1.png" alt=""
                            data-aos="fade-left" data-aos-duration="1000">
                    </div>
                    <div class="flex-inv feature-container ">
                        <div class="feature-desc" data-aos="fade-up" data-aos-duration="1000">
                            <div class="heading">contact us</div>
                            <div class="simple-text">Gamify learning, fostering motivation through task streaks, healthy
                                competition, and a sense of achievement.</div>
                        </div>
                        <img class=" about-img" src="../static/resources/images/contact2.png" alt=""
                            data-aos="fade-right" data-aos-duration="1000">
                    </div>
                </div>
            </div>
        </section>
        <!-- for hiding all divs on page load -->
        <script>
            function openLink(evt, linkName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("active", "");
                }
                document.getElementById(linkName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Array of div IDs to be hidden
                var divsToHide = ['approach', 'team', 'research', 'purpose',  'contactus'];

                // Loop through the array and hide each div
                divsToHide.forEach(function (divId) {
                    var divToHide = document.getElementById(divId);

                    // Check if the element exists before trying to manipulate it
                    if (divToHide) {
                        divToHide.style.display = 'none';
                    }
                });
            });
        </script>
        <!-- Script for Get-Starte Button to Navbar when scrolled below it. -->
        <!-- <script>
            window.addEventListener('scroll', function () {
                var scrollPosition = window.scrollY;
                var navHeight = document.querySelector('.nav').offsetHeight;
                var navElement = document.querySelector('.nav');

                if (scrollPosition > navHeight) {
                    navElement.classList.add('nav-border');
                } else {
                    navElement.classList.remove('nav-border');
                }
            });
        </script> -->
        <script>
            // Add event listener to the scroll event
            window.addEventListener('scroll', function () {
                var targetElement = document.getElementById('target-1');
                var targetElement1 = document.getElementById('target-2');
                // Get the height from the top of the page
                var elementHeightFromTop = targetElement.offsetTop;
                var elementHeightFromTop1 = targetElement1.offsetTop;

                // Get the current scroll position from the top of the page
                var currentScroll = window.pageYOffset;

                if (currentScroll > elementHeightFromTop - 60 && currentScroll < elementHeightFromTop1 - 60) {
                    document.getElementById('top-get-started').style.display = 'block';
                } else {
                    document.getElementById('top-get-started').style.display = 'none';
                }
                console.log('Element height from top of the page: ' + elementHeightFromTop + ' pixels');
                console.log('Current scroll position from the top: ' + currentScroll + ' pixels');
            });

        </script>
        <!-- Script for Animation on Divs inin() -->
        <script>
            AOS.init();
        </script>



</body>

</html>