<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnSync Signup</title>
    <link rel="stylesheet" href="../static/css/style-updated.css">
    <link rel="stylesheet" href="../static/css/style-login.css">
</head>

<body>
    <signup-overlay id="signup-overlay">
        <!-- <button id="close-login" class="link-tertiary">Close</button> -->
        <form action="/sign-up" id="signup-form" method="post">
            <div class="login-container">
                <div class="heading">Signup</div>
                <div id="step1" class="form-step">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="password" name="not-pass" id="not-pass" placeholder="Re-confirm Password" required>
                    <!-- <span>or continue with</span> 
                        <a href="#" class="link-primary">Google</a> -->
                </div>
                <div id="step2" class="form-step">
                    <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
                    <button id="verify-email" class="ui-button" style="display: flex; align-items: center;">
                        Verify&nbsp;<span class="material-symbols-outlined">
                            mail
                            </span>
                    </button>
                    <input type="password" id="otp-field" name="opt_space" placeholder="Confirm OTP sent on to your Email" maxlength="6">
                    <button id="verify-otp" class="ui-button" style="display: flex; align-items: center;">
                        Verify&nbsp;<span class="material-symbols-outlined">
                            Pin
                            </span>
                    </button>
                </div>
                <div id="step3" class="form-step">
                    <a class="link-primary" id="signup-link">Signup</a>
                </div>
                <div class="nav-form">
                    <a id="prev-button" class="link-primary">
                        <span class="material-symbols-outlined">
                            arrow_back
                        </span>&nbsp;
                        Previous
                    </a>
                    <a id="next-button" class="link-primary">Next &nbsp;
                        <span class="material-symbols-outlined">
                            arrow_forward
                        </span>
                    </a>
                </div>
            </div>
        </form>
    </signup-overlay>
    <script src="../static/js/signup.js"></script>
</body>

</html>